<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../../../../static/css/authy.css' %}">
    <script
      src="{% static '../../../../static/js/authy.js' %}"
    ></script>
    <title>Document</title>
</head>
<body>
    <img src="{% static '../../../../static/images/waves.png' %}"  class="wave">
    <div class="container">
        <div class="img">
            <img src="{% static '../../../../static/images/bg1.svg' %}" class="bg1">
        </div>
        <div class="login_container">
            <img src="{% static '../../../../static/images/avatar1.svg' %}" class="avatar" >
            {% block content %}

            {% endblock content %} 
        </div>
    </div>    
</body>
</html>