{% extends 'authy/authy.html' %}
{% block content %}
{% load static %}

    <form method="POST">
        <h1 class="title">Login</h1>
        {% csrf_token %}
        {{form.as_p}}
        <script>
            let usname = document.getElementById('id_username')
            usname.setAttribute("placeholder","Username")

            let psswrd = document.getElementById('id_password')
            psswrd.setAttribute("placeholder","Password")
        </script>
        <button class="btn" type="submit" value="Login">Login</button>
    </form>

    <p class="para">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>

{% endblock content %}

