{% extends 'authy/authy2.html' %}
{% block content %}
{% load static %}
    <form method="POST">
        <h1 class="title">Sign up</h1>
        {% csrf_token %}
        {{form.as_p}}
        <script>
            let place = document.getElementById('id_username')
            place.setAttribute("placeholder","Enter your username")

            let psswrd1 = document.getElementById('id_password1')
            psswrd1.setAttribute("placeholder","Enter your password")

            let psswrd2 = document.getElementById('id_password2')
            psswrd2.setAttribute("placeholder","Confirm your password")
        </script>
        <button class="btn" type="submit" value="Signup">Sign up</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

{% endblock content %}

